.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.unlisted {
  list-style: none;
  padding-left: 0;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}
